body{
  background-color: "#FFBF00";
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
}

ul, li{
  text-decoration: none;
  list-style-type: none;
}

img{
  height: 300px;
  display: block;
  margin: auto;
  padding: 0;
  border-radius: 50%;
  border-color: black;
  border: thin;
}
h1{
  text-align: center;
  font-size: 50px;
}
strong{
  font-size: 30px;
}
p{
  font-size: 20px;
}
ul, nav{
  margin-left: 5px;
  margin-right: 15px;
  display: block;
}

.column {
  border: 2px solid Tomato;
  border-radius: 20px;
}

.header > .column {
  text-align: center;
  height: 400px;
}

.middle {
  display: inline-block;
  float: left;
}
.info_wrapper{
 float: right;
}
