*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}
/*
li > a > img{
  height: 100px;
  width: 100px;
  border: solid white 3px;
  border-radius: 50%;
}

li a img:hover{
  border-color: #ffccff;
}*/

.hello{
  position: absolute;
  display: block;
  /*margin: 0 auto*/
  text-align: center;
  color: white;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*.scrollbutton {
  height: 100vh;
  width: 100%;
  display: table;

}*/
.scrollbutton.ok{
  background-color: #555;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

html {
  /*width: 100%;
  height: 100%;*/
}
#canvas{
  margin: 0;
  padding: 0;
  background: #11e8bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
}

html, body{
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  line-height: 30px;
  /*background-color: white;*/
  text-shadow: 1px 1px 0px #fff;
}

body{
  text-align: center;
  overflow-x: hidden;
}

h1{
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

h1 sub{
  color: #aaa;
  vertical-align: baseline;
}

h2{
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
}

a{
  color: #58b;
}

a:hover{
  color: #369;
}

address{
  white-space: pre-line;
  margin-bottom: 20px;
}

img{
  height: 300px;
}

section{
  border-top: 2px dashed #eee;
  padding: 50px 10px;
  max-width: 1200px;
  margin: 0 auto;
}

section:target h1{
  animation: flash 1s;
}

@keyframes flash {
  from{
    text-shadow: 5px 5px 0px #ffccff,
                -5px -5px 0px #ffccff;
  }
  to{
    text-shadow: 0px 0px 0px #ffccff
  }
}

@-webkit-keyframes flash {
  from{
    text-shadow: 5px 5px 0px #ffccff,
                -5px -5px 0px #ffccff;
  }
  to{
    text-shadow: 0px 0px 0px #ffccff;
  }
}

/*.hero{
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
}

.hero img{
  width: 100%;
  height: 100%:
}

.headshot{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s, box-shadow 1s;
  background-image: url("images/wigzaneh2.jpg");
  background-size: contain;
}

.headshot:hover{
  transform: rotate(360deg);
  box-shadow: 0px 0px 100px 50px #ffe066,
              0px 0px 100px 20px #960 inset;
}

.headshot img{
  transition: opacity 1s;
}

.headshot:hover img{
  opacity: 0;
}*/

.list li{
  display: inline;
  font-weight: bold;
}

.list li:not(:last-child):after{
  content: ", ";
}

.blocklist > li{
  display: flex;
  justify-content: center;
  /*border-style: solid;
  border-width: 10px;*/
  /*border-color: #fff #eee;*/
}

.blocklist > li > div{
  flex-grow: 1;
  align-self: center;
}

.blocklist > li > img{
  /*width: 400px;*/
  margin: 0 10px;
}

.blocklist >li:nth-child(odd){
  flex-direction: row;
  text-align: left;
  border-left-width: 0;
}

.blocklist >li:nth-child(even){
  flex-direction: row-reverse;
  text-align: right;
  border-right-width: 0;
}

@media (max-width: 500px) {
  .blocklist li{
    display: block;
    text-align: center !important;
    border-width: 0;
    margin: 50px 0;
  }
}

.prose{
  text-align: justify;
  max-width: 700px;
  margin: 0 auto;
}

.prose p,
.prose ul{
  margin: 20px auto;
}

.prose li{
  list-style-position: inside;
  list-style-type: square;
}

.name{
  color: #666;
  text-shadow: 1px 1px 0px #ffccff;
  font-size: 40px;

}

.navbar-absolute {
  bottom: 0;
  position: absolute;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar-fixed {
  top: 0;
  position: fixed;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.98);
}

.nav-active {
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: inset 0px -2px 0px 0px #ff80ff;
}

.mainNav {
  box-sizing: border-box;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 10;
  width: 100%;
  overflow: hidden;
}

  .mainNav ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .mainNav li {
    display: inline-block;
    line-height: 40px;
    width: 100px;
    height: 40px;
    text-align: center;
  }

    .mainNav li:hover {
      transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
      box-shadow: inset 0px -2px 0px 0px #ff80ff;
    }

  .mainNav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
  }

@media screen and (max-width: 768px) {
  .mainNav li {
    width: 70px; }
  .mainNav a {
    font-size: 1em; } }
