*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}
html, body{
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  text-shadow: 1px 1px 0px #fff;
}
body{
  text-align: center;
}
h1{
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}
h1 sub{
  color: #aaa;
  vertical-align: baseline;
}
h2{
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
}
a{
  color: #58b;
}
a:hover{
  color: #369;
}
img{
  height: 300px;
}
section{
  border-top: 2px dashed #eee;
  padding: 50px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
}
.hero img{
  width: 100%;
  height: 100%:
}
.headshot{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s, box-shadow 1s;
  background-image: url("images/wigzaneh2.jpg");
  background-size: contain;
}
.headshot:hover{
  transform: rotate(360deg);
  box-shadow: 0px 0px 100px 50px #ffe066,
              0px 0px 100px 20px #960 inset;
}
.headshot img{
  transition: opacity 1s;
}
.headshot:hover img{
  opacity: 0;
}
.list li{
  display: inline;
  font-weight: bold;
}
.list li:not(:last-child):after{
  content: ", ";
}
.blocklist > li{
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 10px;
  border-color: #fff #eee;
}
.blocklist > li > div{
  flex-grow: 1;
  align-self: center;

}
.blocklist > li > img{
  /*width: 400px;*/
  margin: 0 10px;
}
.blocklist >li:nth-child(odd){
  flex-direction: row;
  text-align: left;
  border-left-width: 0;
}
.blocklist >li:nth-child(even){
  flex-direction: row-reverse;
  text-align: right;
  border-right-width: 0;
}
.prose{
  text-align: justify;
  max-width: 700px;
  margin: 0 auto;
}
.prose p{
  margin: 20px 0;
}
.prose li{
  list-style-position: inside;
  list-style-type: square;
}
