body{
  background-color: "#FFBF00";
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
}
img{
  margin: 0, auto;
}
ul{
  text-decoration: none;
}
img{
  height: 300px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  border-color: black;
  border: thin;
}
h1{
  font-size: 50px;
}
strong{
  font-size: 30px;
}
p{
  font-size: 20px;
}
